.about-header-container {
    height: 450px;
    background-color: #eee;
    padding-top: 50px;
}

.marketing {
    padding-top: 20px;
}

.featurette-heading {
    white-space: nowrap;
}

.about-heading {
    text-decoration: underline;
}