.about-header-container {
    height: 450px;
    background-color: #eee;
    padding-top: 50px;
}

.marketing {
    padding-top: 20px;
}

.featurette-heading {
    white-space: nowrap;
}

.about-header {
    margin-left: auto;
    margin-right: auto;
}