.content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  }
  
  .main-header {
    font-size: 32px;
    color: #034977;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .main-body {
    text-align: center;
  }
  
  .link-container {
    display: inline-block;
    margin-right: 40px;
  }

  .link {
    color: white;
    text-decoration: none;
  }

  .link:active {
    color: white;
    text-decoration: none;
  }
  