.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.card-img-top {
	width: 100%;
	padding: 1em;
	background-color: #f2f2f2;
}

.card-body {

}

#card-header {
	margin-top: -3em;
	margin-bottom: 1em;
}